* {
  border: 1px solid red;
}

body {
    font-family: 'Merriweather', serif;
    background: rgb(134,165,217);
    background: radial-gradient(circle, rgba(134,165,217,1) 0%, rgba(22,219,101,1) 100%);
}

.container {
    background-color: white;
    opacity: 1;
}

.header {
  display: flex;
}

.headercontent {
  flex: 1;
  padding-left: 20px;
}

.headerright {
  padding-top: 20px;
  flex: 3;
  width: 100%;
}


.results_top {
  display: flex;
  align-items: space-between;
  padding-bottom: 10px;
}

.results_bottom {
  padding-bottom: 10px;
}

#welcome {
  padding-top: 20px;
}

#welcome2 {
  padding-top: 20px;
}

#total {
  font-size: 50px;
  font-weight: bold;
}

#impact {
  font-size: 50px;
  font-weight: bold;
}

#button {
  padding-top: 10px;
}

#totalPrice {
}

#results_label {
    font-weight: bold;
}

input {
  border:none;
  font-size: 20px;
  border-bottom: 1px solid #058C42;
  outline: none;
  height: 30px;
  width: 300px;
  }

  input:focus {
    border-bottom: 1px solid #16DB65;
  }


h1 {
    font-family: 'Lora', serif;
}
.select_type {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

#staging_types {
  display: flex;
  justify-content: space-between;
}

#description {
  font-size: 10px;
}
#whatstaged {
  display: flex;
  justify-content: space-between;
}

#style {
  display: flex;
  justify-content: space-between;
}

#staging_type_details {
  text-align: center;
}

.style_details {
  width: 300px;
  text-align: center;
  padding-bottom: 10px;
}

.style_name {
  padding-bottom: 20px;
}

.results {
    display: flex;
    width: 100%
}

#results_left {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}

#results_right {
    flex: 3;
    padding-bottom: 100px;
    padding-right: 100px;
}

.q1 {
    display: flex;
    width: 100%
}

#q1_left {
    flex: 2; 
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
 
}

#whatstaged {
  padding-right: 200px;
}

/* button styles */
.button {
  background-color: #0EB454;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #16DB65;
  color: black;
}


  /* hide radio  */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 3px solid #0EB454;
  }

   /* Hover STYLES */
   [type=radio]:hover + img {
    outline: 3px solid #16DB65;
  }



  /* staging box */
  .columns {
    width: 300px;
    padding-left: 10px;
  }

  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 #16DB65;
  }
  
  .price .header {
    background-color: #535DCA;
    color: white;
    font-size: 20px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 14px;
    text-align: center;
    font-size: 10px;
  }
  
  .price .grey {
    background-color: #9298DD;
    color: white;
    font-size: 18px;
  }

  